# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
*/venv/
*/.venv/

# Environments
*.env
.env.*
*/env

# IDEs
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
*~
Thumbs.db

# Pastas diversas
*/assets
*/arquivos_salvos
*/database
*/data
*/fotos_perfil

# Arquivos ignorados
*.mp3
*.jpg
*.jpeg
*.png
